
    /* Estilo para el main */
    main {
        padding: 20px;
    }

    /* Estilo para todos los enlaces, los botones y el input que confirma una busqueda */
    a, button, #boton-buscar {
        text-decoration: none;
        cursor: pointer; 
    }

    /* Estilo para los enlace al pasar el ratón por encima */
    a:hover {
        text-decoration: underline;
    }

    /* Estilo para la seccion que contiene todos los alumnos */
    .alumnos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4px;
    }

    /* Estilo para todos los h2 del main */
    main h2 {
        display: flex;
        justify-content: center;
        font-weight: bold;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        margin: 30px;
    }

    /* Estilo para todos los h3 del main */
    main h3{
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        line-height: 1.5;
    }

    /* Estilo para todos los enlaces del main */
    main a {
        text-decoration: none;
        color: black; 
    }

    /* Estilo para todos los enlaces del main al pasar el ratón por encima */
    main a:hover {
        transform: scale(1.1);
    }

    /* Estilo para el article que muestra el alumno correspondiente */
    .alumno {
        width: 200px;
        margin: 10px;
        text-align: center;
        background-color: #e9cfd9;
        padding: 10px;
        border-radius: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Estilo para las imagenes del article que muestra el alumno correspondiente */
    .alumno img {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
    }

    /* Estilo para el article que muestra el alumno correspondiente al pasar el ratón por encima */
    .alumno:hover{
        border: 2px solid black;
    }

    /* Estilo para el div que contiene a los botones que muestran más o menos alumnos por pantalla */
    .botones-pantalla{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    /* Estilo para los botones que muestran más o menos alumnos por pantalla */
    .boton-pantalla{
        display: inline-block;
        padding: 15px 25px;
        border: 2px solid black;
        font-size: 40px;
        background-color: #080163;
        color: white;
        border-radius: 100px;
        text-decoration: none;
        cursor: pointer;
    }

    /* Estilo para los botones que muestran más o menos alumnos por pantalla al pasar el ratón por encima */
    .boton-pantalla:hover{
        transform: scale(1.2);
    }

    /* Estilo para el botón de ver más alumnos */
    #posAlumnos{
        margin-left: 40px;
    }

    /* Estilo para el botón de ver alumnos anteriores */
    #prevAlumnos{
        margin-right: 40px;
    }

        /* Estilo para el botón de ver más tareas */
        #posTareas{
            margin-left: 40px;
        }
    
        /* Estilo para el botón de ver alumnos tareas */
        #prevTareas{
            margin-right: 40px;
        }