    /* Estilo para el contenedor de la multimedia */
    #media-container {
        margin: auto;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Estilo para el contenedor de la multimedia para los profesores */
    #media-container-profesor{
        margin: auto;
        margin-top: 80px;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Estilo para los botones que seleccionan la multimedia a mostrar */
    #botones-multimedia{
        display: flex;
        justify-content: center;
    }

    /* Estilo para el formulario que contiene los botones que seleccionan la multimedia a mostrar */
    #botones-multimedia form{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    /* Estilo para la sección donde se encuentra la multimedia */
    .media-section {
        display: none;
    }

    /* Estilo para las imagenes de la sección de la multimedia */
    .media-section img {
        width: 200px;
        height: 200px;
        margin: 30px 10px;
    }

    /* Estilo para los videos y audios de la sección de la multimedia */
    .media-section video, .media-section audio {
        max-width: 100%;
        height: auto;
        margin: 30px 10px;
    }

    /* Estilo para las imagenes, videos y audios de la sección de la multimedia al pasar el raton por encima */
    .media-section img:hover, .media-section video:hover, .media-section audio:hover {
        border: solid;
    }

    /* Estilo para los documentos de la seccion de la multimedia */
    #documentos{
        margin: 50px 0px;
    }

    /* Estilo para los enlaces de los documentos de la seccion de la multimedia */
    #documentos a{
        padding: 30px;
    }

    /* Estilo para la paginacion */
    .pagination {
        margin-top: 20px;
        align-items: center;
        justify-content: space-around;
        display: flex;
    }