
    /* Estilo para el main */
    main {
        padding: 10px;
    }

    /* Estilo para todos los enlaces, los botones y el input que confirma una busqueda */
    a, button, #boton-buscar {
        text-decoration: none;
        cursor: pointer; 
    }

    /* Estilo para los enlace al pasar el ratón por encima */
    a:hover {
        text-decoration: underline;
    }

    /* Estilo para la seccion que contiene todos los alumnos */
    .tareas {
        margin-top: 30px;;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4px;
    }

    /* Estilo para todos los h2 del main */
    main h2 {
        display: flex;
        justify-content: center;
        font-weight: bold;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        margin: 30px;
    }

    /* Estilo para todos los h3 del main */
    main h3{
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        line-height: 1.5;
    }

    /* Estilo para todos los enlaces del main */
    main a {
        text-decoration: none;
        color: black; 
    }

    /* Estilo para todos los enlaces del main al pasar el ratón por encima */
    main a:hover {
        transform: scale(1.1);
    }

    /* Estilo para el article que muestra el alumno correspondiente */
    .tarea {
        width: 400px;
        margin: 0 100px;
        text-align: center;
        background-color: #e9cfd9;
        padding: 5px;
        border-radius: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Estilo para las imagenes del article que muestra el alumno correspondiente */
    .tarea img {
        width: 300px;
        height: 200px;
        border-radius: 50%;
    }
   
    /* Estilo para el texto dentro de la tarea */
    .tarea p {
        padding: 5px;
        margin: 10px;
        font-weight: bold;
        font-size: 30px; /* Ajusta el tamaño de la fuente */
        text-transform: uppercase;
    }

    /* Estilo para el article que muestra el alumno correspondiente al pasar el ratón por encima */
    .tarea:hover{
        border: 2px solid black;
    }


    /* Estilo para los botones que muestran más o menos alumnos por pantalla */
    .botones{
        display: flex;
        justify-content:center;
        padding: 10px;
        margin-bottom: 20px;
    }
        

    /* Estilo para el enlace que cambia la multimedia del paso */
    .boton-pantalla{
        height: 50px;
        padding: 15px;
        margin-right: 30px;
        margin-left: 30px;
        border: 2px solid black;
        background-color: #080163;
        border-radius: 30px;
        text-decoration: none;
        cursor: pointer;
    }

    /* Estilo para el boton dentro del enlace que cambia la multimedia del paso */
    .boton-pantalla button{
        background-color: #080163;
        border: none;
    }

    /* Estilo para el boton dentro del enlace que cambia la multimedia del paso al pasar el raton por encima */
    .boton-pantalla button:hover{
        transform: none;
    }

    /* Estilo para la imagen dentro del enlace que cambia la multimedia del paso */
    .boton-pantalla img{
        max-width: 5em;
    }

    /* Estilo para los enlaces que cambian la multimedia del paso al pasar el raton por encima */
    .boton-pantalla:hover{
        transform: scale(1.2);
    }

    /* Estilo para el botón de ver más tareas */
    #posTareas{
        margin-left: 40px;
    }
    
    /* Estilo para el botón de ver alumnos tareas */
    #prevTareas{
        margin-right: 40px;
    }

    /* Estilo para el main */
    main {
        padding: 10px;
        margin-top: 10px;
        text-align: center; /* Añadir esta línea para centrar el contenido */
    }

    /* Estilo para los botones que muestran más o menos alumnos por pantalla */
    .boton-paso{
        height: 100px;
        padding: 15px 25px;
        margin-top: 2.2em;
        border: 2px solid black;
        font-size: 45px;
        background-color: #080163;
        color: white;
        border-radius: 30px;
        text-decoration: none;
        cursor: pointer;
    }

    .imagen-tarea{
            display: flex;
            justify-content:center;
            padding: 10px;
            height: 18em;
            
    }

    .imagen-tarea audio{
        margin-top: 8em;
        
    }

    /* Estilo para el footer */
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
        padding: 1em;
        background-color: #e9cfd9;
        border: 2px solid #9a0808; /* Añade un borde alrededor del footer */
        border-radius: 30px; /* Añade esquinas redondeadas al borde */
    }

    /* Estilo para el texto dentro del footer */
    footer p {
        text-transform: uppercase;
        font-size: 44px; /* Ajusta el tamaño de la fuente según sea necesario */
        margin: 0; /* Elimina el margen predeterminado del párrafo */
        font-weight: bold;
    }

    .custom-button {
        display: inline-block;
    }
    
    .custom-button button {
        position: relative;
        padding: 1em;
        margin-right: 2em;
        margin-left: 2em;
        border: 2px solid black;
        background-color: #080163;
        border-radius: 30px;
        text-decoration: none;
        cursor: pointer;
    }
    
    .custom-button img {
        max-height: 6em;
        width: 7em;
    }
    
    #circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 8em; /* Ajusta el tamaño del círculo según sea necesario */
        height: 8em; /* Ajusta el tamaño del círculo según sea necesario */
        border-radius: 50%;
        border: 6px solid red; /* Ajusta el color y grosor del borde del círculo según sea necesario */
        background-color: transparent;
        display: none;
    }
    
    #completado-button.active #circle {
        display: block;
    }
    
    
    


